extends ../layout 

block content 
  a(href='/bikes/create') New Bike
  table.table 
    thead   
      tr  
        th(scope='col') #
        th(scope='col') Color
        th(scope='col') Modelo
        th(scope='col') Ubicación
        th(scope='col')
        th(scope='col')
    tbody 
      each bike in bikes 
        tr 
          td(scope='row')
            = bike.id
          td= bike.color 
          td= bike.modelo
          td= bike.ubicacion
          td
            a(href= 'bikes/' + bike.id + '/update') Editar
          td
            form.inline(method='post' action='bikes/' + bike.id + '/delete')
                input(type='hidden' name='id' value= bike.id)
                button.link-button(type='submit' name='submit_param' value='submit_value' clas='btn')
                    = 'Elimiar'